@import "tailwindcss";

@utility nav-link {
    @apply text-[20px] font-bold font-sans text-gray-400 hover:text-red-500;
}

@utility hero {
    @apply w-screen flex flex-col justify-center items-center; 
}

@utility pageTitle {
    @apply text-8xl font-bold text-red-400 tracking-tight;
}