@import "tailwindcss" 


@theme {
    --color-primary: #0ea5e9;
    --color-secondary: #8b5cf6;
    --font-sans: "Inter", system-ui, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
