@import "tailwindcss";

@utility nav-link {
    @apply text-[20px] font-bold font-sans text-gray-400 hover:text-red-500;
}

@utility hero {
    @apply w-screen flex flex-col justify-center items-center; 
}

@utility pageTitle {
    @apply text-8xl font-bold text-red-400 tracking-tight;
}

@utility btn1 {
    @apply px-5 py-2 bg-red-400 text-white font-semibold font-sans rounded-sm hover:bg-red-500;
}